{% extends 'core/base.html' %}

{% block title %} Portafolio{% endblock %}

{% block image-header %} portfolio {% endblock %}

{% block title-header %}


{% endblock %}


{% block content %}
{% load static %}

{% for project in projects %}


<div class="row project mb-5">  	
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="../static/core/img/about-bg.jpg" alt="">
    </div>
<div class="col-lg-7 col-md-8">
        <h2 class="section-heading title">{{ project.title }}</h2>   
    <p> {{ project.description }}</p>
    <p><a href="http://google.com">Más información</a></p>
    </div>
</div>

{% endfor %}

{% endblock %}